<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="navbar">
    <h2>User Dashboard</h2>
</div>
<div class="container">
    <h3 th:text="${message}"></h3> <center>
    <a th:href="@{/rooms}" class="btn" style="background-color: #4CAF50;">View Rooms</a><br><br>
    
    <a th:href="@{/bookings}" class="btn" style="background-color: #2196F3;">My Bookings</a><br><br>
    <a th:href="@{/logout}" class="btn">Logout</a><br><br>
   <a th:href="@{/}" class="btn" style="background-color: gray;">Back to Welcome</a>  </center>
    
</div>
</body>
</html>