<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="navbar">
    <h2>Admin Dashboard</h2>
</div>
<div class="container" style="max-width: 800px;">
    <a th:href="@{/admin/addRoom}" class="btn" style="background-color: #4CAF50;">Add Room</a>
    <a th:href="@{/logout}" class="btn">Logout</a>
     <a th:href="@{/}" class="btn" style="background-color: gray;">Back to Welcome</a>
    <table>
        <tr><th>ID</th><th>Type</th><th>Price</th><th>Capacity</th><th>Actions</th></tr>
        <tr th:each="room : ${rooms}">
            <td th:text="${room.id}"></td>
            <td th:text="${room.type}"></td>
            <td th:text="${room.price}"></td>
            <td th:text="${room.capacity}"></td>
            
               <td>
    <a th:href="@{'/admin/edit/' + ${room.id}}" class="btn" style="background-color: #2196F3;">Edit</a>
    <a th:href="@{'/admin/delete/' + ${room.id}}" class="btn" style="background-color: #f44336;">Delete</a>
    
</td>
        </tr>
    </table>
</div>
</body>
</html>